body {
  font-family: Currency,Tahoma,Helvetica,Arial,sans-serif;
}

#menu {
  position: fixed;
  z-index: 999;
  width: 100%;
}

#carouselExampleIndicators {
  margin-bottom: 50px;
}

div#carouselExampleIndicators {
  max-width: 1300px;
  margin: 0 auto;
}

.carousel-section {
  margin-bottom: 20px;
  padding-top: 70px;
}

.block-section {
  max-width: 1200px;
}

.margin-auto {
  margin: 0 auto;
}

.text-align-center {
  text-align: center;
}

.padding-15 {
  padding-left: 15px;
  padding-right: 15px;
}

.margin-15 {
  padding-left: 15px;
  padding-right: 15px;
}

.title-text {
  padding: 30px 0 30px 0;
}

#product-section {
  background-color: #f8f8f8;
  //background: url("./images/gradient_res_md.jpg") 0 -1328px no-repeat;;
}

.storage-section__info {
  margin-bottom: 20px;
}

.block-certificate {
  justify-content: center;
}

.block-certificate  .block-certificate__item{
  max-width: 350px;
  margin: 10px;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 1.075) !important;
}

#call-us-section {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  background-color: #ffa500;
  padding: 80px 0;
  border-radius: 20px;
}

#call-us-section .call-us-section__icon {
  //background: url("./images/call-us/call-us.png");
  width: 74px;
  height: 74px;
  margin: 0 auto 15px auto;
}

#call-us-section .call-us-section_header {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 38px;
  color: white;
  text-shadow: 0 2px 0 #a6761d;
  margin: 15px auto;
  text-align: center;
}

#call-us-section .call-us-section_phone {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 72px;
  line-height: 72px;
  color: white;
  text-shadow: 0 2px 0 #b38229;
  margin-bottom: 15px;
  text-align: center;
}

#call-us-section .call-us-section_email {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 72px;
  line-height: 72px;
  color: white;
  text-shadow: 0 2px 0 #b38229;
  text-align: center;
  word-wrap: break-word;
}

#map-section {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}

#storage {
  margin: 15px;
}

#footer {
  margin: 50px auto;
}